$white: white;
$black: black;
$grey: #868686;
$yellow: #ffbb42;
$white-blue: #b5bbc1;
$light-blue: #c2e1ff;
$orange: #eba72f;
$light-gray: #dedfe0;
$blue: #1ca8dd;
$dark-blue: #394b50;
$dark-red: #7b7b7b;
$yellow-orange: #ffc155;
$light-orange: #e7ad48;
$light-sky-blue: #e7edf3;
$oslo-gray: #75888d;
$geyser: #ccd5df;
$similar: #ced4db;
$grayish-blue: #709dca;
